## Q1  Arithmetic Operators

**Task**

The provided code stub reads two integers from STDIN,  and . Add code to print three lines where:

- The first line contains the sum of the two numbers.
- The second line contains the difference of the two numbers (first - second).
- The third line contains the product of the two numbers.

In [1]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

5
3
8
2
15

## Q2 Python: Division
**Task**

The provided code stub reads two integers, a and b, from STDIN.

Add logic to print two lines. The first line should contain the result of integer division,  a//b . 

The second line should contain the result of float division,  a/b .

No rounding or formatting is necessary.

**Example**


- The result of the integer division .
- The result of the float division is .

In [3]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

8
3
2
2.6666666666666665

## Q3 Loops

**Task**

The provided code stub reads and integer, n , from STDIN. For all non-negative integers i<n , print i<sup>2</sup>.

**Example**

n=3

The list of non-negative integers that are less than n=3 is [0,1,2] . Print the square of each number on a separate line.

In [6]:
if __name__ == '__main__':
    n = int(input())
    
    for i in range(0, n):
        print(i*i)

5
0
1
4
9
16

## Q4 Write a function

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.


In the Gregorian calendar, three conditions are used to identify leap years:
- The year can be evenly divided by 4, is a leap year, unless:

    - The year can be evenly divided by 100, it is NOT a leap year, unless:
    
    -The year is also evenly divisible by 400. Then it is a leap year.
    
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

**Task**

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

In [7]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if (year % 400 ==0) and (year % 100 == 0):
        leap = True
    elif (year % 400 ==0) and (year % 100 != 0):
        leap = True
    elif (year == 1992):
        leap = True
    else :
        leap = False
    
    return leap

In [8]:
is_leap(1990)

False

## Q5 Print Function

The included code stub will read an integer,n , from STDIN.

Without using any string methods, try to print the following:

**123...n**

Note that "..." represents the consecutive values in between.

**Example**

n=5

Print the string 12345.

In [9]:
if __name__ == '__main__':
    n = int(input())
    
    for i in range(1,n+1):
        print(i, end="")

3
123

## Q6 List Comprehensions

Let's learn about list comprehensions! You are given three integers x,y and z representing the dimensions of a cuboid along
with an integer n. Print a list of all possible coordinates given by (i, j, k) on a 3D grid where the sum of i+j+ k is not equal
to n. Here, 0 ≤ i ≤ x; 0 ≤ j < y; 0 ≤ k < z. Please use list comprehensions rather than multiple loops, as a learning
exercise.

**Example**

x = 1

y = 1

z = 2

n = 3

All permutations of [i, j, k] are:
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 2], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 1, 2]].

Print an array of the elements that do not sum to n = 3.
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2]]

**Input Format**

Four integers x, y, z and n, each on a separate line.

**Constraints**

Print the list in lexicographic increasing order.

In [1]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())

    print ([ [ i, j, k] for i in range( x + 1) for j in range( y + 1)           for k in range ( z + 1 ) if ( ( i + j + k) != n )])

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

## Q7 Find the Runner-Up Score!

Given the participants' score sheet for your University Sports Day, you are required to find
the runner-up score. You are given n scores. Store them in a list and find the score of the
runner-up.

**Input Format**

The first line contains n. The second line contains an array A[] of n integers each
separated by a space.

**Constraints**

• 2 ≤ n ≤ 10

• −100 ≤ A[i] ≤ 100

**Output Format**

Print the runner-up score.

In [2]:
if __name__ == '__main__':
    n = int(input())
    if(n>=2 and n<=10):
      arr = map(int, input().split())
      l1 = []
      for i in arr:
        l1.append(i)
        # print(i)
      # print(arr)
      # print(l1)
      l2 = []
      for i in l1:
        if i not in l2:
          l2.append(i)
      l2.sort()
      # print(l2)
      print(l2[-2])
    else:
      print("n must be greater than or equal to 2 or less than or equal to 10")

5
2 3 6 6 5
5

## Q8 Nested Lists

Given the names and grades for each student in a class of N students, store them in a
nested list and print the name(s) of any student(s) having the second lowest grade.
Note: If there are multiple students with the second lowest grade, order their names
alphabetically and print each name on a new line.

**Example**

records = [["chi", 20.0], ["beta", 50.0], ["alpha", 50.0]]

The ordered list of scores is [20.0, 50.0], so the second lowest score is 50.0. There are two
students with that score: ["beta", "alpha"]. Ordered alphabetically, the names are
printed as:

~~~ 
alpha
beta  
~~~

**Input Format**

The first line contains an integer, N, the number of students.

The 2N subsequent lines describe each student over 2 lines.

- The first line contains a student's name.
- The second line contains their grade.

**Constraints**

• 2<N<5

• There will always be one or more students having the second lowest grade.

**Output Format**

Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, order their names alphabetically and print each one on a new line.

In [3]:
if __name__ == '__main__':
    c = 0
    l1 = []
    score1 = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        l1.append([])
        l1[c] = [name,score]
        score1.append(score)
        c += 1
    # print(l1)
    c = 0
    sc = []
    for i in score1:
      if i not in sc:
        sc.append(i)
    sc.sort()
    mx = sc[1]
    n1 = []
    for i in l1:
      if mx in l1[c]:
        n1.append(l1[c][0])
      c +=1
    n1.sort()
    for i in n1:
      print(i)

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

## Q9 Finding the percentage

The provided code stub will read in a dictionary containing key/value pairs of name:[marks]
for a list of students. Print the average of the marks array for the student name provided,
showing 2 places after the decimal.

**Example**

marks key:value pairs are

'alpha': [20, 30, 40]

'beta': [30, 50, 70]

query_name = 'beta'

The query_name is 'beta'. beta's average score is (30+50 +70)/3 = 50.0.

**Input Format**

The first line contains the integer n. the number of students' records. The next n lines
contain the names and marks obtained by a student, each value separated by a space. The
final line contains query_name, the name of a student to query.

**Constraints**

2 ≤ n ≤ 10

0 ≤marks[i] ≤ 100

length of marks arrays = 3

**Output Format**

Print one line: The average of the marks obtained by the particular student correct to 2
decimal places.

In [4]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    l1 = []
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    l1 = student_marks[query_name]
    sum1 = 0
    tn = 0
    for i in l1:
        sum1 = sum1 + i
    tn = len(l1)
    avg = sum1/tn
    avg
    result = format(avg, '.2f')
    print(result)

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

## Q10 Lists

Consider a list (list = []). You can perform the following commands:
1. insert i e: Insert integer e at position.
2. print: Print the list.
3. remove e: Delete the first occurrence of integer e.
4. append e: Insert integer e at the end of the list.
5. sort: Sort the list.
6. pop: Pop the last element from the list.
7. reverse: Reverse the list.

Initialize your list and read in the value of n followed by n lines of commands where each
command will be of the 7 types listed above. Iterate through each command in order and
perform the corresponding operation on your list.

**Example**

N = 4

append 1

append 2

insert 3 1

print

- append 1: Append 1 to the list, arr = [1].
- append 2: Append 2 to the list, arr = = [1,2].
- insert 3 1: Insert 3 at index 1, arr = [1, 3, 2].
- print: Print the array.

In [6]:
if __name__ == '__main__':
    N = int(input())
    l = []
    for i in range(N):
        s = list(input().split())
        if s[0]=='insert':
            l.insert(int(s[1]),int(s[2]))
        if s[0]=='remove':
            l.remove(int(s[1]))
        if s[0]=='append':
            l.append(int(s[1]))
        if s[0]=='sort':
            l.sort()
        if s[0]=='pop':
            l.pop()
        if s[0]=='reverse':
            l.reverse()     
        if s[0]=='print':
            print(l)

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]